/* export to page_characters.css */

#check,
#autoFillButton {
  grid-area: ck;
  height: 30px;
  width: 80%;
  margin: auto;
}

#autoFillButton {
  grid-area: af;
}

#create {
  width: 100px;
  margin: auto;
  margin-block: 20px;
}
