/* export to page_characters.css */

#portrait {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 100%;
}

#targetImgPortrait {
  max-width: 400px;
  height: 500px;
  object-fit: contain;
  margin: auto;
}

#imgSelect {
  width: 200px;
  margin-inline: auto;
}

.imgList {
  max-height: 200px;
  margin: auto;
  object-fit: contain;
}
