@import url(images.css);
@import url(bouton.css);
@import url(grids/grid_characters.css);
@import url(lists.css);

.hideText {
  color: var(--varColor) !important;
}

.bonus {
  color: green;
  font-weight: bold;
}

.malus {
  color: red;
  font-weight: bold;
}

.noWrap {
  white-space: nowrap;
}
