
.containerCarac {
    --gap : 5px;
    --num-col : 5;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 19%);
    grid-template-rows: auto;
    grid-template-areas:

    "p p jb n t "
    "p p . g . "
    "p p car car car "
    ;
    gap: var(--gap);
    width: 100%;

}



.portrait {
    grid-area: p;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.job {
    grid-area: jb;
    display: flex;
    flex-direction: column;
}
.trib {
    grid-area: t;
    display: flex;
    flex-direction: column;
}
.name {
    grid-area: n;
    display: flex;
    flex-direction: column;
}
.gender {
    grid-area: g;
    display: flex;
    flex-direction: column;
}

.carac {
    grid-area: car;
    --num-col : 4;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 23%);
    grid-template-rows: auto;
    grid-template-areas:

    "tl1 tl2 tl2 tl2"
    "frc cst int chc"
    "agi vit pcp chc"
    ". ck af ."
    ;
    gap: 10px;
    justify-content: center;
}

#tl1, #tl2, #frc, #cst, #vit, #int, #pcp, #chc, #agi {
    text-align: center;
    align-self: center;
}

#tl1{
    grid-area: tl1;
}

#tl2{
    grid-area: tl2;
}

#frc {
    grid-area : frc;
}
#cst {
    grid-area : cst;


}
#agi {
    grid-area : agi;


}
#vit {
    grid-area : vit;


}
#int {
    grid-area : int;


}
#pcp {
    grid-area : pcp;


}
#chc {
    grid-area : chc;
    text-align: center;
    align-self: center;

}

#targetImg {
    width: 400px;
    height: 600px;
    object-fit: contain;
}

#check{
    grid-area: ck;
}

#af{
    grid-area: af;
}

.noWrap{
    white-space: nowrap;
}