
.containerCarac {
    --gap : 5px;
    --num-col : 4;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 23%);
    grid-template-rows: 150px 200px 150px 500px;
    grid-template-areas:

    "p p n g "
    "p p jb t "
    "p p jb t "
    "car car car car "
    ;
    gap: var(--gap);
    width: 100%;

}



.portrait {
    grid-area: p;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 100%;
}

#jobs {
    grid-area: jb;
    display: flex;
    flex-direction: column;
}
#tribes {
    grid-area: t;
    display: flex;
    flex-direction: column;
}
.name {
    grid-area: n;
    display: flex;
    flex-direction: column;
}
#genders {
    grid-area: g;
    display: flex;
    flex-direction: column;
}

.carac {
    grid-area: car;
    --num-col : 4;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 1fr);
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas:

    /* "tl1 tl2 tl2 tl2"
    "frc cst int chc"
    "agi vit pcp chc"
    ". ck af ." */

    "frc cst int tl1"
    "agi vit pcp tl2"
    ". chc . tl3"
    ". ck af ."
    ;
    gap: 10px;
}

#tl1, #tl2, #tl3, #frc, #cst, #vit, #int, #pcp, #chc, #agi {
    text-align: center;
    align-self: center;
}

#tl1{
    grid-area: tl1;
}

#tl2{
    grid-area: tl2;
}

#tl3{
    grid-area: tl3;
}

#frc {
    grid-area : frc;
}
#cst {
    grid-area : cst;


}
#agi {
    grid-area : agi;


}
#vit {
    grid-area : vit;


}
#int {
    grid-area : int;


}
#pcp {
    grid-area : pcp;


}
#chc {
    grid-area : chc;
    text-align: center;
    align-self: center;

}

#targetImg {
    width: 400px;
    height: 600px;
    object-fit: contain;
}

#check{
    grid-area: ck;
    height: 75%;
    width: 80%;
    margin: auto;
}

#af{
    grid-area: af;
    height: 75%;
    width: 80%;
    margin: auto;
}

.noWrap{
    white-space: nowrap;
}