
.containerCarac {
    --gap : 10px;
    --num-col : 5;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 15%);
    grid-template-rows: auto;
    grid-template-areas:

    "p p jb n t"
    "p p . g ."
    "p p car car car"
    ;
    justify-content: space-around;
    gap: var(--gap);
}



.portrait {
    grid-area: p;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.job {
    grid-area: jb;
    display: flex;
    flex-direction: column;
}
.trib {
    grid-area: t;
    display: flex;
    flex-direction: column;
}
.name {
    grid-area: n;
    display: flex;
    flex-direction: column;
}
.gender {
    grid-area: g;
    display: flex;
    flex-direction: column;
}

.carac {
    grid-area: car;
    --num-col : 4;

    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--num-col), 23%);
    grid-template-rows: auto;
    grid-template-areas:

    "tl tl tl tl"
    "frc cst int chc"
    "agi vit pcp chc"
    ". ck af ."
    ;
    gap: 10px;
}

#tl, #frc, #cst, #vit, #int, #pcp, #chc, #agi {
    text-align: center;
    align-self: center;
}

#tl{
    grid-area: tl;
}

#frc {
    grid-area : frc;
    display: flex;
    flex-direction: column;
}
#cst {
    grid-area : cst;
    display: flex;
    flex-direction: column;

}
#agi {
    grid-area : agi;
    display: flex;
    flex-direction: column;

}
#vit {
    grid-area : vit;
    display: flex;
    flex-direction: column;

}
#int {
    grid-area : int;
    display: flex;
    flex-direction: column;

}
#pcp {
    grid-area : pcp;
    display: flex;
    flex-direction: column;

}
#chc {
    grid-area : chc;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;

}

#targetImg {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

#check{
    grid-area: ck;
}

#af{
    grid-area: af;
}