:root {
  --varColor: rgb(232, 210, 170);
}
body {
  box-sizing: border-box;
  margin: 10px;
  background-color: var(--varColor);
}

ul {
  background-color: rgb(177, 128, 39);
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 50px;
}

li {
  display: flex;
}

a {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  padding-inline: 30px;
}

h1,
label {
  text-align: center;
}

span {
  height: 17px;
}
