:root {
    --varColor : rgb(232, 210, 170);
}
body {
    box-sizing: border-box;
    margin: 10px;
    background-color: var(--varColor);
}


ul {
    background-color: rgb(177, 128, 39);
    display: flex;
    list-style: none;
    justify-content: center;
    height: 30px;
}

li {
    text-decoration: none;
    display: flex;
}

a {
    color: #FFF;
    text-decoration: none;
    padding-inline: 30px;
    vertical-align: middle;
}


h1, label {
    text-align: center;
}

#imgPortrait {
    width: 200px;
    margin-inline: auto;
  }

span{
    height: 17px;
}

.hideText {
    color: var(--varColor) !important;
}

.bonus {
    color: green !important;
    font-weight: bold;
}

.malus{
    color: red !important;
    font-weight: bold;
}