body {
    box-sizing: border-box;
    margin: 10px;
    background-color: wheat;
}


ul {
    background-color: rgb(204, 138, 52);
    display: flex;
    list-style: none;
    justify-content: center;
    height: 30px;
}

li {
    text-decoration: none;
    display: flex;
}

a {
    color: #FFF;
    text-decoration: none;
    padding-inline: 30px;
    vertical-align: middle;
}



h1, label {
    text-align: center;
}