:root {
  --num-col: 1;
  --propLign: 10% 45% 45%;
}

#jobs {
  display: grid;
  grid-template-columns: --num-col;
  grid-template-rows: var(--propLign);
  grid-template-areas:
        /* js:#divSelect-1, jl:#legend-1, ji:#imgList-1*/
    "js"
    "jl"
    "ji";
  border: 2px solid black;
}

#divSelect-1 {
  grid-area: js;
  display: flex;
  flex-direction: column;
}

#legend-1 {
  grid-area: jl;
}

#imgList-1 {
  grid-area: ji;
}
