@import url("../variablesCss.css");

:root {
  --num-col: 1;
}

#jobs {
  display: grid;
  grid-template-columns: --num-col;
  grid-template-rows: var(--propLignJ);
  grid-template-areas:
    "js"
    "jl"
    "ji";
  border: 2px solid black;
}

#divSelect-1 {
  grid-area: js;
  display: flex;
  flex-direction: column;
}

#legend-1 {
  grid-area: jl;
}

#imgList-1 {
  grid-area: ji;
}
