@import url("../variablesCss.css");

:root {
  --num-col: 1;
}

#tribes {
  display: grid;
  grid-template-columns: --num-col;
  grid-template-rows: var(--propLignT);
  grid-template-areas:
    "ts"
    "tl"
    "ti";
  border: 2px solid black;
}

#divSelect-2 {
  grid-area: ts;
  display: flex;
  flex-direction: column;
}
#legend-2 {
  grid-area: tl;
}

#imgList-2 {
  grid-area: ti;
}
